/* GLOBAL */
@import "./global/header.css";
@import "./global/global.css";

/* UTILIDADES */
@import "./utilidades/componentes.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";

/* HOME */
@import "./home/introducao.css";
